.loader-container {
    &--full {
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        z-index: 5;
        border-radius: 0.5rem;
    }

    .loader-shuriken {
        width: 3rem;
        aspect-ratio: 1;
        background: white;
        clip-path: polygon(
            100% 50%,
            64.14% 64.14%,
            50% 100%,
            35.86% 64.14%,
            0% 50%,
            35.86% 35.86%,
            50% 0%,
            64.14% 35.86%
        );
        -webkit-mask: radial-gradient(circle 5px, #0000 90%, #000);
        animation: l1 1.5s infinite linear;
    }

    .loader-spinner {
        width: 1.5rem;

        padding: 3px;
        aspect-ratio: 1;
        border-radius: 50%;
        background:  #161c2d;
        --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
        -webkit-mask: var(--_m);
        mask: var(--_m);
        -webkit-mask-composite: source-out;
        mask-composite: subtract;
        animation: l3 1s infinite linear;
    }
    @keyframes l3 {
        to {
            transform: rotate(1turn);
        }
    }

    @media (width <= 500px) {
        .loader {
            width: 2rem;
        }
    }
}
@keyframes l1 {
    100% {
        transform: rotate(1turn);
    }
}
